body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #818181;
    line-height: 22px;
    -webkit-font-smoothing: antialiased;
    background-color: #000;
    color: white;
}
p{
    font-family: "Inter", sans-serif;
    color: #818181;
}

.main-heading{
    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-weight: bold;
}
.main-heading-2{
    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-weight: normal;
}

.heading-sub{
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: bold;
}

.unique-heading{
    font-family: "Inter", sans-serif;
    font-size: 34px;
    font-weight: 600;
    color: #919191;
}
.heading-sub-2{
    font-family: "Inter", sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 130%;
}

.pcolor{ 
    color: #818181;;
}

.right-col-2{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.navi{
   display: flex;
   flex-flow: row;
   align-items: center;
   gap: 25px;
   padding-left: 25px;
   padding-top: 25px;
   padding-right: 25px;
}

.link {
    text-decoration: none;
    color: white;
}

.main-container {
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.title-section {
   text-align: center;
}

.title{ 
    font-size: 60px;
    font-weight: bold;
    color: white;
}

.subtext-section{ 
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 150px;
    padding-top: 50px;
}

.sub-title{ 
    font-size: 28px;
}

.deliverables-section {
    display: flex;
    flex-flow: row;
    gap: 400px;
}

.container-1 {
    display: flex;
    flex-flow: row;
}

.container-2 {
    
}

.hero {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

.hero-right{ 
    max-width: 60%;
}

.hero {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Custom Styles for Cases */

.section2{
    padding-top: 100px;
    padding-bottom: 100px;
}

.row1-s1 {
    display: flex;
    align-items: center;
}
.row2-s2{
    display: flex;
    justify-content: space-between;
}

.title-s1 {
    font-size: 38px;;
    font-weight: bold;
    line-height: 44px;
    font-family: "Inter", sans-serif;
    width: 70%;
}
.title-s2{
    font-size: 38px;;
    font-weight: bold;
    line-height: 44px;
    font-family: "Inter", sans-serif;
    text-align: center;
}
.title-s3{
    font-size: 38px;;
    font-weight: bold;
    line-height: 44px;
    font-family: "Inter", sans-serif;
}
.subtitle-s2{
    font-family: "Inter", sans-serif;
    font-size: 18px;
    line-height: 34px;
    text-align: center;
}
.subtitle-s1 {
    font-family: "Inter", sans-serif;
    font-size: 28px;
    line-height: 34px;
}

.heading{
    font-family: "Inter", sans-serif;
    font-size: 48px;
}

.s1-s2{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}
.row{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.block{

}
.col1{
    max-width: 45%;;
}
.col2{
    max-width: 45%;
}


/* General Styles */

.heading{
    font-family: "Inter", sans-serif;
    font-size: 48px;
}

.twocol-text {
    display: flex;
    justify-content: space-between;
}
.twocol-text2{
    display: flex;
    justify-content: space-between;
}

.sub-heading{
    font-family: "Inter", sans-serif;
    font-size: 28px; 
}

.sub-heading2{
    font-family: "Inter", sans-serif;
    font-size: 22px; 
}


.stitle { 
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 22px;
}

.navbut{
    text-decoration: none;
    color: white;
}

.nav{
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 75px;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 50px;
}
.hr1{
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 30px;
    color: #82BC61;
}
.large-heading{ 
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 48px
  }

.s1{ 
    padding-left: 120px;
    padding-right: 120px;
}
.s2{ 
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 30px;
}
.s3{ 
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 30px;
}
.s4{ 
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 30px;
}
.block2-s1{
    display: flex;
    justify-content: space-between;
}
.block3-s1{
    display: flex;
    justify-content: space-between;
}

.row{
    justify-content: space-between;
    gap: 130px;
}
.box{
    width: 900px;
}

.block1-s4{
    display: flex;
    gap: 130px;
    align-items: center;
}
.right-s4{
    max-width: 50%;
}
.box2{

}
.block5-s1{
    padding-top: 35px;
}
.block5-s2{
    padding-top: 35px;
    display: flex;
    align-items: center;
    gap: 130px;
}
.s5{
    padding-left: 120px;
    padding-right: 120px;
}

.left-col2{
    max-width: 45%;
}
.right-col2{
    max-width: 70%;
}

.left-col{
}
.right-col{

}

p {
    font-size: 18px;
    font-weight: 300;
    color: #DDDDDD;
}

.twocol-tworow{
    display: flex;
    width: 500px;
}

.compa {
    width: 100%;
    padding-top: 50px;
}

/* Mobile Responsive Styles */

@media screen and (max-width: 1024px) {
    .s1, .s2, .s3, .s4, .s5 {
        padding-left: 60px;
        padding-right: 60px;
    }
    
    .nav {
        padding-left: 60px;
        padding-right: 60px;
        gap: 40px;
    }
    
    .hr1 {
        margin-left: 60px;
        margin-right: 60px;
    }
    
    .twocol-text, .twocol-text2 {
        flex-direction: column;
        gap: 30px;
    }
    
    .s1-s2 {
        flex-direction: column;
        gap: 20px;
    }
    
    .col1, .col2, .col3 {
        max-width: 100%;
        padding: 0;
    }
    
    .left-col-2, .right-col-2 {
        max-width: 100%;
        width: 100%;
        padding: 0;
    }
    
    .left-col, .right-col {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .s1, .s2, .s3, .s4, .s5 {
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .nav {
        padding-left: 30px;
        padding-right: 30px;
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
    }
    
    .hr1 {
        margin-left: 30px;
        margin-right: 30px;
    }
    
    .heading {
        font-size: 32px;
    }
    
    .main-heading, .main-heading-2 {
        font-size: 32px;
    }
    
    .heading-sub {
        font-size: 20px;
    }
    
    .sub-heading {
        font-size: 22px;
    }
    
    .sub-heading2 {
        font-size: 18px;
    }
    
    .title-s1, .title-s2, .title-s3 {
        font-size: 28px;
        width: 100%;
    }
    
    .twocol-text, .twocol-text2 {
        flex-direction: column;
        gap: 20px;
    }
    
    .s1-s2 {
        flex-direction: column;
        gap: 15px;
    }
    
    .row1-s1 {
        flex-direction: column;
    }
    
    .block1-s4 {
        flex-direction: column;
        gap: 20px;
    }
    
    .block5-s2 {
        flex-direction: column;
        gap: 20px;
    }
    
    .right-s4 {
        max-width: 100%;
    }
    
    img {
        max-width: 100%;
        height: auto;
    }
    
    .hero {
        flex-direction: column;
        gap: 30px;
    }
    
    .hero-right {
        max-width: 100%;
    }
    
    .subtext-section {
        flex-direction: column;
        gap: 30px;
    }
    
    .deliverables-section {
        flex-direction: column;
        gap: 30px;
    }
    
    .col1, .col2, .col3 {
        max-width: 100%;
        padding: 15px 0;
    }
    
    .left-col-2, .right-col-2 {
        max-width: 100%;
        width: 100%;
        padding: 15px 0;
    }
    
    .left-col, .right-col {
        width: 100%;
        padding: 0;
    }
    
    p {
        font-size: 16px;
        line-height: 24px;
    }
    
    .main-container {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (max-width: 480px) {
    .s1, .s2, .s3, .s4, .s5 {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .nav {
        padding-left: 15px;
        padding-right: 15px;
        gap: 10px;
    }
    
    .hr1 {
        margin-left: 15px;
        margin-right: 15px;
    }
    
    .heading {
        font-size: 24px;
    }
    
    .main-heading, .main-heading-2 {
        font-size: 24px;
    }
    
    .heading-sub {
        font-size: 18px;
    }
    
    .sub-heading {
        font-size: 18px;
    }
    
    .sub-heading2 {
        font-size: 16px;
    }
    
    .title-s1, .title-s2, .title-s3 {
        font-size: 20px;
        width: 100%;
    }
    
    .twocol-text, .twocol-text2 {
        flex-direction: column;
        gap: 15px;
    }
    
    .navi {
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
        padding-left: 15px;
    }
    
    .blog-left .row .blog-list {
        width: 100%;
        margin: 15px 0;
    }
    
    p {
        font-size: 14px;
        line-height: 20px;
    }
    
    .main-container {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .subtitle-s1, .subtitle-s2 {
        font-size: 16px;
    }
}