body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #818181;
    line-height: 22px;
    -webkit-font-smoothing: antialiased;
    background-color: #000;
    color: white;
}
p{
    font-family: "Inter", sans-serif;
    color: #818181;
}

.pcolor{ 
    color: #818181;;
}

.right-col-2{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.navi{
   display: flex;
   flex-flow: row;
   align-items: center;
   gap: 25px;
   padding-left: 25px;
   padding-top: 25px;
   padding-right: 25px;
}

.link {
    text-decoration: none;
    color: white;
}

.main-container {
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.title-section {
   text-align: center;
}

.title{ 
    font-size: 60px;
    font-weight: bold;
    color: white;
}

.subtext-section{ 
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 150px;
    padding-top: 50px;
}

.sub-title{ 
    font-size: 28px;
}

.deliverables-section {
    display: flex;
    flex-flow: row;
    gap: 400px;
}

.container-1 {
    display: flex;
    flex-flow: row;
}

.container-2 {
    
}

.hero {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

.hero-right{ 
    max-width: 60%;
}

.hero {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Custom Styles for Cases */

.section2{
    padding-top: 100px;
    padding-bottom: 100px;
}

.row1-s1 {
    display: flex;
    align-items: center;
}
.row2-s2{
    display: flex;
    justify-content: space-between;
}

.title-s1 {
    font-size: 38px;;
    font-weight: bold;
    line-height: 44px;
    font-family: "Inter", sans-serif;
    width: 70%;
}
.title-s2{
    font-size: 38px;;
    font-weight: bold;
    line-height: 44px;
    font-family: "Inter", sans-serif;
    text-align: center;
}
.title-s3{
    font-size: 38px;;
    font-weight: bold;
    line-height: 44px;
    font-family: "Inter", sans-serif;
}
.subtitle-s2{
    font-family: "Inter", sans-serif;
    font-size: 18px;
    line-height: 34px;
    text-align: center;
}
.subtitle-s1 {
    font-family: "Inter", sans-serif;
    font-size: 28px;
    line-height: 34px;
}

.heading{
    font-family: "Inter", sans-serif;
    font-size: 48px;
}

.s1-s2{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}
.row{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.block{

}
.col1{
    max-width: 45%;;
}
.col2{
    max-width: 45%;
}


/* General Styles */

.heading{
    font-family: "Inter", sans-serif;
    font-size: 48px;
}

.twocol-text {
    display: flex;
    justify-content: space-between;
}
.twocol-text2{
    display: flex;
    justify-content: space-between;
}

.sub-heading{
    font-family: "Inter", sans-serif;
    font-size: 28px; 
}

.sub-heading2{
    font-family: "Inter", sans-serif;
    font-size: 22px; 
}


.stitle { 
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 22px;
}

.navbut{
    text-decoration: none;
    color: white;
}

.nav{
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 75px;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 50px;
}
.hr1{
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 30px;
    color: #82BC61;
}
.large-heading{ 
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 48px
  }

.s1{ 
    padding-left: 120px;
    padding-right: 120px;
}
.s2{ 
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 30px;
}
.s3{ 
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 30px;
}
.s4{ 
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 30px;
}
.block2-s1{
    display: flex;
    justify-content: space-between;
}
.block3-s1{
    display: flex;
    justify-content: space-between;
}

.row{
    justify-content: space-between;
    gap: 130px;
}
.box{
    width: 900px;
}

.block1-s4{
    display: flex;
    gap: 130px;
    align-items: center;
}
.right-s4{
    max-width: 50%;
}
.box2{

}
.block5-s1{
    padding-top: 35px;
}
.block5-s2{
    padding-top: 35px;
    display: flex;
    align-items: center;
    gap: 130px;
}
.s5{
    padding-left: 120px;
    padding-right: 120px;
}

.left-col2{
    max-width: 45%;
}
.right-col2{
    max-width: 70%;
}

.left-col{
}
.right-col{

}

p {
    font-size: 18px;
    font-weight: 300;
    color: #DDDDDD;
}