body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #818181;
    line-height: 22px;
    -webkit-font-smoothing: antialiased;
    background-color: #000;
}


.navi{
   display: flex;
   flex-flow: row;
   align-items: center;
   gap: 25px;
   padding-left: 25px;
   padding-top: 25px;
   padding-right: 25px;
}

.link {
    text-decoration: none;
    color: white;
}

.main-container {
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.title-section {
   text-align: center;
}

.title{ 
    font-size: 60px;
    font-weight: bold;
    color: white;
}

.subtext-section{ 
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 150px;
    padding-top: 50px;
}

.sub-title{ 
    font-size: 28px;
}

.deliverables-section {
    display: flex;
    flex-flow: row;
    gap: 400px;
}

.container-1 {
    display: flex;
    flex-flow: row;
}

.container-2 {
    
}

.blocks {
    display: flex;
    flex-flow: row;
    gap: 30px;
}
.hero {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

.hero-right{ 
    max-width: 60%;
}

.hero {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Custom Styles for Cases */

.section2{
    padding-top: 100px;
    padding-bottom: 100px;
}

.row1-s1 {
    display: flex;
    align-items: center;
}
.row2-s2{
    display: flex;
    justify-content: space-between;
}

.title-s1 {
    font-size: 38px;;
    font-weight: bold;
    line-height: 44px;
    font-family: "Inter", sans-serif;
    width: 70%;
}
.title-s2{
    font-size: 38px;;
    font-weight: bold;
    line-height: 44px;
    font-family: "Inter", sans-serif;
    text-align: center;
}
.title-s3{
    font-size: 38px;;
    font-weight: bold;
    line-height: 44px;
    font-family: "Inter", sans-serif;
}
.subtitle-s2{
    font-family: "Inter", sans-serif;
    font-size: 18px;
    line-height: 34px;
    text-align: center;
}
.subtitle-s1 {
    font-family: "Inter", sans-serif;
    font-size: 28px;
    line-height: 34px;
}